
<div class="about-area pb-155 pt-55 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>Welcome to <Span>@ViewBag.About.Title</Span></h2>
                    <p>@ViewBag.About.Content</p>
                    <a class="default-btn" href="@Url.Action("Index","About")">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/Uploads/@ViewBag.About.Image" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
