@model List<FinalProject_Eduhome.Models.Blog>
<div class="single-blog-widget mb-50">
    <div class="single-blog-banner">
        <a href="blog-details.html" id="blog"><img src="~/Public/img/blog/blog-img.jpg" alt="blog"></a>
        <h2>best<br> eductaion<br> theme</h2>
    </div>
</div>
<div class="single-blog-widget mb-50">
    <h3>latest post</h3>
    @foreach (var item in Model.Take(3))
    {
        <div class="single-post mb-30">
            <div class="single-post-img" style="width:120px">
                <a href="blog-details.html">
                    <img src="~/Uploads/@item.Image" alt="post">
                    <div class="blog-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="single-post-content">
                <h4><a href="blog-details.html" style="text-transform:capitalize">@item.Title</a></h4>
                <p>By @item.Author  /  @item.CreatedDate.ToString("MMMM dd"), @item.CreatedDate.Year</p>
            </div>
        </div>
    }
</div>
<div class="single-blog-widget">
    <h3>tags</h3>
    <div class="single-tag">
        <a href="blog-details.html" class="mr-10 mb-10">course</a>
        <a href="blog-details.html" class="mr-10 mb-10">education</a>
        <a href="blog-details.html" class="mb-10">teachers</a>
        <a href="blog-details.html" class="mr-10">learning</a>
        <a href="blog-details.html" class="mr-10">university</a>
        <a href="blog-details.html">events</a>
    </div>
</div>
