@model FinalProject_Eduhome.ViewModels.HomeVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.EduTitle = "Our Teachers";
}

<!-- Banner Area Start -->
@{
    Html.RenderPartial("~/Views/Shared/Banner.cshtml", Model);
}
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @{
                Html.RenderPartial("~/Views/Shared/Teachers.cshtml", Model.Teachers);
            }
        </div>
    </div>
</div>
<!-- Teacher End -->
<!-- Subscribe Start -->
@{
    Html.RenderPartial("~/Views/Shared/Subscribe.cshtml", new FinalProject_Eduhome.ViewModels.SubscribeVM { Page = "Teacher"});
}
<!-- Subscribe End -->